<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>btn</title>
     
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="../css/font-awesome.css">
    
    <!-- Custom style -->
    <link rel="stylesheet" href="../css/component/btn.css">
    <link rel="stylesheet" href="../css/flex.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/grid.css">
    
    
</head>
<body>
    <header class="header03">
        <div>
            <a class="btn btn-green btn-radius" href="">Login</a>
            <a class="btn btn-pink btn-radius" href="">Register</a>
        </div>
    </header>

    <div class="lets-check03">
        <a class="btn btn-white btn-shadow" href="">All New Items</a>
        <a class="btn btn-white btn-shadow" href="">Popular Items</a>
    </div>

    <div class="become-author03">
        <a class="btn btn-white" href="">Become A Author</a>
    </div>

    <div class="price-range04">
        <a class="btn btn-green btn-full" href="">
            <i class="fa fa-search" aria-hidden="true"></i>
            <span>search</span>
        </a>
    </div>

    <div class="post-grid04">
        <a class="btn btn-green btn-full" href="">View All</a>
    </div>

    <div class="drop08">
        <a class="btn btn-pink btn-drop" href="">Go to Cart</a>
        <a class="btn btn-green btn-drop" href="">Go to Checkout</a>
    </div>

    <div class="email08">
        <a class="btn btn-green btn-small" href="">
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
        </a>
    </div>

    <div class="product-price09">
        <a class="btn btn-green btn-full" href="">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span>Add To Cart</span>
        </a>
        <a class="btn btn-blue btn-full" href="">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <span>Add To Favourites</span>
        </a>
        <a class="btn btn-dark-blue btn-full" href="">Add To Favourites</a>
    </div>

    <div class="gtbuilder09">
        <a class="btn btn-pink" href="">Live Preview</a>
        <a class="btn btn-dark-blue" href="">Screenshots</a>
        <a class="btn btn-green" href="">Documentation</a>
    </div>

    <div class="About-Author10">
        <a class="btn btn-dark-blue btn-full btn-fat" href="">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <span>Send Message</span>
        </a>
        <a class="btn btn-green btn-full btn-fat" href="">Following</a>
    </div>

    <div class="Personal-Information16">
        <a class="btn btn-green" href="">Update</a>
    </div>

    <div class="your-sales22">
        <a class="btn btn-green" href="">Find</a>
    </div>

    <div class="drop-message28">
        <button class="btn btn-green text-bold text-uppercase">Send Message</button>
    </div>

    <div class="not-found29">
        <a class="btn btn-radius btn-transparent text-bold text-uppercase" href="">Go To Home Page</a>
    </div>
    
    <div class="submit30">
        <button class="btn btn-white text-bold text-uppercase">submit</button>
    </div>

    <!-- PAGINATION -->
    <div class="page">
        <nav>
            <ul class="pagination">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </nav>
    </div>
    <!-- /PAGINATION -->
</body>
</html>