<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>forms</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="../css/font-awesome.css">
    
    <!-- Custom style -->
    <link rel="stylesheet" href="../css/component/form.css">
    <link rel="stylesheet" href="../css/component/btn.css">
    <link rel="stylesheet" href="../css/flex.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/grid.css">
    
    
</head>
<body>
    <div class="container welcome03">
        <div class="row text-center">
            <form class="search-form">
                <input type="search" name="key_words" placeholder="Search Your Keywords . . . " >
                <i class="fa fa-search" aria-hidden="true"></i>    
            </form>
        </div>
    </div>
    <!-- /search-form -->

    <div class="container newsletter03">
        <div class="row col-md-3">
            <form class="news-form">
                <input type="text" name="user_email" placeholder="E-mail Address">
                <button type="submit" class="btn btn-green btn-small"><i class="fa fa-location-arrow" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
    
</body>
</html>