<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>forms</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="../css/font-awesome.css">
    
    <!-- Reset -->
    <link rel="stylesheet" href="../css/reset.css">
   
    <!-- Flex -->
    <link rel="stylesheet" href="../css/flex.css">
   
    <!-- Grid -->
    <link rel="stylesheet" href="../css/grid.css">

    <!-- Componennts -->
    <link rel="stylesheet" href="../css/component/form.css">
    <link rel="stylesheet" href="../css/component/btn.css">
        
</head>
<body>
    <div class="container welcome03">
        <div class="row text-center">
            <form class="form">
                <div class="search-form">
                    <input class="form-item" type="text" name="key_words" placeholder="Search Your Keywords . . . " >
                    <button type="search" class="btn btn-white">
                        <i class="fa fa-search" aria-hidden="true"></i>    
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- /search-form -->

    <div class="container col-md-3 newsletter03">
        <div class="row">
            <form class="form news-form">
                <input class="form-item" type="email" name="user_email" placeholder="E-mail Address">
                <button type="submit" class="btn btn-green btn-small"><i class="fa fa-location-arrow" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
    <!-- news-form -->

    <div class="container col-md-9 Personal-Information16">
            <form class="personal-info form bg-form">
                <div class="form-row d-flex justify-content-between">
                    <span>First Name</span>
                    <input class="form-item" type="text" name="name">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>Last Name</span>
                    <input class="form-item" type="text" name="surname">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>Company Name</span>
                    <input class="form-item" type="text" name="Company_name">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>Country</span>
                    <select class="form-item" name="select_country" id="" data-placeholder="Select Your Country">
                        <option value="Great Britain">Great Britain</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="USA">USA</option>
                    </select>
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>Address Line 1</span>
                    <input class="form-item" type="text" name="Address_Line_1">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>Address Line 1</span>
                    <input class="form-item" type="text" name="Address_Line_1">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>City</span>
                    <input class="form-item" type="text" name="City">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>State / Province / Region</span>
                    <input class="form-item" type="text" name="State">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>Zip / Postal Code</span>
                    <input class="form-item" type="text" name="Zip">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <div></div>
                    <div>
                        <button class="btn btn-green" type="submit" name="personal_info">Update</button>
                    </div>
                </div>
            </form>
            <!-- /personal-info -->
        </div>    
    </div>
    <!-- /Personal-Information16 -->

    <div class="container col-md-12 upload_item21">
        <div class="row">
            <form class="form bg-form upload-item">
                <div class="form-row d-flex justify-content-between">
                    <span>Select Categories <sup>*</sup></span>
                    <input class="form-item" type="text" name="categories" placeholder="Select">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>Product Name <sup>*</sup></span>
                    <input class="form-item" type="text" name="product_name" placeholder="Enter your product name here ...">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>Product Description <sup>*</sup></span>
                    <textarea class="form-item" type="text" name="description" placeholder="<h1> Type your text  here </h1/>"></textarea>
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>Upload Main File <sup>*</sup></span>
                    <div class="choose form-item form-item-wide fo d-flex">
                        <input type="file" name="main_file" id="main_file">
                        <label for="main_file">Choose File</label>
                        <span>No File Choosen</span>
                    </div>
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>Upload Screenshots <sup>*</sup></span>
                    <div class="choose form-item form-item-wide d-flex">
                        <input type="file" name="upload_screenshots" id="upload_screenshots">
                        <label class="form-item" for="upload_screenshots">Choose File</label>
                        <span>No File Choosen</span>
                    </div>
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>File Included <sup>*</sup></span>
                    <input class="form-item" type="text" name="file_included" placeholder="Select File Type ">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>File Dimensions <sup>*</sup></span>
                    <input class="form-item" type="text" name="file_dimensions" placeholder="Enter the item  dimentionss here ...">
                </div>
                <div class="form-row d-flex justify-content-between">
                    <span>Item Tags <sup>*</sup></span>
                    <input class="form-item" type="text" name="item_tags" placeholder="Enter Tag Here">
                </div>
                <div class="title">
                <span>Set Your Price (US$)</span>
                    </div>
                    <div class="form-row d-flex justify-content-between">
                        <span>Regular License <sup>*</sup></span>
                        <input class="form-item" type="text" name="regular_licence" placeholder="$00.00">
                    </div>
                    <div class="form-row d-flex justify-content-between">
                        <span>Extended License <sup>*</sup></span>
                        <input class="form-item" type="text" name="extended_licence" placeholder="$00.00">
                    </div>
                <div class="form-row d-flex justify-content-between">
                    <div></div>
                    <div>
                        <button type="submit" class="btn btn-green" name="upload_item">Submit</button>
                    </div>
                </div>
            </form>
            <!-- /upload-item -->
        </div>
    </div>
    <!-- /upload-item21 -->

    <div class="container col-md-8 drop-message28">
        <div class="row">
            <h2 class="title">Drop Us A Message</h2>
            <form class="form drop-message">
                <div class="form-row d-flex flex-wrap justify-content-between">
                    <input class="form-item form-item-wide" type="text" name="name" placeholder="Name*">
                    <input class="form-item form-item-wide" type="text" name="name" placeholder="E-mail*">
                    <textarea name="message" id="" placeholder="Message*"></textarea>
                    <button type="submit" class="btn btn-green" name="user_message">Send Message</button>
                </div>
            </form>
            <!-- /drop-message -->
        </div>
    </div>
    <!-- /drop-message28 -->
    
    <div class="container login30">
        <div class="row">
            <button class="btn btn-green"><i class="fa fa-times" aria-hidden="true"></i></button>
            <h2 class="title">Login</h2>
            <form class="form login d-flex flex-wrap justify-content-between">
                <input class="form-item form-item-wide" type="text" placeholder="Name" name="name">
                <input class="form-item form-item-wide" type="password" placeholder="Password" name="password">
                <button class="btn btn-white btn-green-shadow text-bold text-uppercase" type="submit">Login</button>
                <input class="form-item" type="text" placeholder="Creat An Account?" name="">
                <a  href="">Lost Password?</a>
                <i class="fa fa-user" aria-hidden="true"></i>
                <i class="fa fa-lock" aria-hidden="true"></i>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </form>
        </div>
    </div> 

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-form-styler@2.0.1/dist/jquery.formstyler.min.js"></script>
    
</body>
</html>