<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pagination</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="../css/font-awesome.css">
        
    <!-- Custom style -->
    <link rel="stylesheet" href="../css/component/form.css">
    <link rel="stylesheet" href="../css/component/btn.css">
    <link rel="stylesheet" href="../css/component/pagination.css">
    <link rel="stylesheet" href="../css/flex.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/grid.css">
    
</head>
<body>
    <!-- PAGINATION -->
    <div class="page">
        <nav>
            <ul class="pagination d-flex">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </nav>
    </div>
    <!-- /PAGINATION -->
    
</body>
</html>