/* ===== FOOTER START ===== */
.footer {
    background-color: #263238;
    color: #b7c3c8;
    padding: 110px 0 0;
}
h4 {
    margin-bottom: 25px;
}
h5 {
    margin-bottom: 10px;
}
.footer h4:after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #8bc34a;
    margin-top: 25px;
}
.footer .fa {
    color: #8bc34a;
    font-size: 18px;
}
.footer a {
    -webkit-transition: all .3s;
    transition: all .3s;
}
.footer a:hover {
    color: #8bc34a;
}
.footer .footer-content {
    margin-bottom: 30px;
}
.footer address {
    font-style: normal;
    font: 400 14px/1.714 'Lato', sans-serif;
    color: #fff;
}
.footer .contact-address .fa {
    float: left;
    margin-right: 20px;
    line-height: 1.4;
}
.footer .contact-address span {
    display: block;
    overflow: hidden;
}
.footer .contact-address + .contact-address {
    margin-top: 15px;
}
.footer .footer-nav a {
    display: block;
}
.footer .footer-nav li a:not(last-of-type) {
    margin-bottom: 12px;
}
.footer .footer-nav .fa {
    margin-right: 15px;
}
.footer .social-nav {
    margin-bottom: 35px;
}
.footer .social-nav li {
    display: inline-block;
    vertical-align: top;
}
.footer .social-nav li a {
    display: block;
    border-radius: 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.footer .social-nav li + li {
    margin-left: 3px;
}
.footer .social-nav li:hover a {
    opacity: .7;
}
.sup-footer {
    padding: 20px 0 30px;
    border-top: 1px solid #424d53;
    margin-top: 80px;
    color: #919699;
}
/* ===== FOOTER END ===== */
