/* костыль старт */

/* jquery formstyler start */
.jq-selectbox,
.jq-select-multiple {
	position: relative;
	display: inline-block;
}
.jq-selectbox select,
.jq-select-multiple select {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.jq-selectbox li,
.jq-select-multiple li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}
.jq-selectbox {
	z-index: 10;
}
.jq-selectbox__select {
	position: relative;
}
.jq-selectbox__select-text {
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jq-selectbox__dropdown {
	position: absolute;
}
.jq-selectbox__search input {
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__dropdown ul {
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	list-style: none;
	-webkit-overflow-scrolling: touch;
}

/* jquery formstyler end */

/* jquery formstyler theme start */
.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.jq-selectbox__select {
	height: 32px;
	padding: 0 45px 0 10px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
	background: linear-gradient(#FFF, #E6E6E6);
	-webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
	font: 14px/32px Arial, sans-serif;
	color: #333;
	text-shadow: 1px 1px #FFF;
}
.jq-selectbox__select:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
	background: linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-selectbox__select:active {
	background: #F5F5F5;
	-webkit-box-shadow: inset 1px 1px 3px #DDD;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid #8bc34a;
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #888;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
}
.jq-selectbox .placeholder {
	color: #888;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
	border-left: 1px solid #CCC;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 0;
	height: 0;
	border-top: 5px solid #999;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	border-top-color: #000;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	border-top-color: #AAA;
}
.jq-selectbox__dropdown {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #FFF;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	font: 14px/18px Arial, sans-serif;
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	border: 1px solid #CCC;
	border-radius: 3px;
	outline: none;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%;
	-webkit-box-shadow: inset 1px 1px #F1F1F1;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	color: #231F20;
}
.jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}

/* jquery formstyler theme end */


.breadcrumbs {
    margin-top: 50px; /* - добавил */
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #263238;
    /* padding: 25px 0; */
    padding: 0; /* - добавил */
}

.breadcrumbs li a.active{
    color: #263238;
}

/* костыль энд */

.product-main{
	padding-left: 0;
}

.product-main .product-big-image{
	border: 1px solid #dcdcdc;
	padding: 20px;
}

.product-main .product-big-image img{
	width: 100%;
}

.product-text{
	margin-top: 40px;
	margin-bottom: 45px;
}

.product-text span{
	font-size: 30px;
}

.product-text p{
	margin-top: 30px;
	margin-bottom: 45px;
	font-size: 16px;
}

.product-text .social-btn nav + nav{
	margin-left: 3px;
}

.social-nav {
    margin-bottom: 35px;
}
.social-nav li {
    display: inline-block;
    vertical-align: top;
}
.social-nav li a {
    display: block;
    border-radius: 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.social-nav li + li {
    margin-left: 3px;
}
.social-nav li:hover a {
    opacity: .7;
}

.tabs-product-details{
	margin-bottom: 55px;
}

.more-product .product-author{
	border: 1px solid #dcdcdc;
	padding: 20px 30px;
	font-size: 18px;
	margin-bottom: 30px;
}

.more-product-card-row{
	margin: 0 -15px 90px -15px;
}

.more-product .more-product-card-grid{
	margin-bottom: 30px;
}

.more-product .more-product-card:hover{
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
}

.more-product .more-product-card img{
 width: 100px;
 height: 90px;
}

.more-product .more-product-card .more-product-card-text{
	padding: 15px 15px 0;
}

.more-product .more-product-card .more-product-card-text .title-card{
	font-size: 14px;
	margin-bottom: 10px;
	/* white-space: nowrap; */
}

.more-product .more-product-card .more-product-card-text .description-card{
	font-size: 12px;
	margin-bottom: 10px;
}

.more-product .more-product-card .more-product-card-text .price-card{
	font-size: 18px;
}

.aside-pane{
	padding-right: 0;
}

.aside-pane .aside-section + .aside-section{
	margin-top: 30px;
}

.aside-section-title{
	border-bottom: 1px solid #dde3e8;
	font-size: 20px;
	padding-bottom: 20px;
}

.aside-section-content{
	margin-top: 25px;
}

.aside-section-price{
	font-size: 22px;
	margin-bottom: 25px;
}

.aside-pane .jq-selectbox__select{
	border: 1px solid #dde3e8;
	border-radius: 0;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 13px;
}

.aside-pane .jq-selectbox__select-text{
	color: #70838d;
}

.aside-pane .jq-selectbox__trigger{
	border:  none;
}

.aside-pane .jq-selectbox__trigger-arrow {
	border-top-color: #8bc34a;
}

.aside-pane .jq-selectbox__dropdown{
	border-radius: 0;
	border: 1px solid #dde3e8;
}

.product-price09.aside-buttons{
	width: 100%;
}

.aside-section .author-text{
	margin-left: 15px;
}

.aside-section .author-text span{
	font-size: 18px;
}

.aside-section .author-text .btn{
	font-weight: 400;
	padding: 7px 10px;
	border: 1px solid #dde3e8;
	font-size: 13px;
}

.aside-section .author-text .btn:hover{
	border: 1px solid #8bc34a;
}

.aside-section .author-icons{
	margin-top: 25px;
}

.aside-section .author-icons li {
    display: inline-block;
    vertical-align: top;
}

.aside-section .author-icons li span {
    display: block;
}

.aside-section .author-sales{
	font-size: 20px;
}

.aside-section .author-sales span:last-child{
	font-size: 16px;
}

.aside-section .author-sales i + span{
	margin-left: 20px;
}

.aside-section .author-sales span + span{
	margin-left: 15px;
}

.aside-section .info-item{
	font-size: 14px;
}

.aside-section .info-item + .info-item{
	margin-top: 25px;
}

.aside-section .info-item.flex-column span + span{
	margin-top: 10px;
}