.card .card-img{
    border: 1px solid #ebeeef;
    border-bottom: none;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
}

.card .card-img img {
    width: 100%;
}
.card .card-descroption-wrapper{
    background-color: #fff;
    border: 1px solid #ebeeef;
    border-top: none;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
}
.card:hover .card-img,
.card:hover .card-descroption-wrapper {
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75); 
}
.card-descroption .title {
    color: #263238;
    font-weight: 500;
}
.card-descroption .subtitle {
    color: #8bc34a;
    font-weight: 500;
    font-size: 14px;
} 
.card-descroption .price {
    color: #263238;
    font-weight: 700;
    font-size: 20px;
}
.card .ard-author-info {
    border-top: 1px solid #e7ecf2;
}
.card .ard-author-info
.card .ard-author-info .card-author span {
    font-size: 14px;
    color: #546e7a;
    font-weight: 500;
}
.card .ard-author-info .product-rating {
    color: #ffa726;
    margin-right: 8px;
}
.card .ard-author-info .product-rating li+li {
    margin-left: 3px;
}
.card .ard-author-info .product-download{
    font-size: 12px;
}
.card .ard-author-info .product-download::after{
    content: 
}
.card .ard-author-info .product-download::after{
    
}