/* ========header========== */
.header-top .logo .logo-text{
    margin-top: 7px;
    display: block;
    text-transform: uppercase;
    letter-spacing: .52em;
    font-size: 10px;
    text-align: center;
    text-indent: .52em;
    font-weight: 700;
    color: #9ca6ab;
}

.header-top .need-help .text-red{
    color: #e74c3c;
}

.header-top .need-help{
    margin-right: 30px; 
}

.header-top .header-dropdown-items > li{
    padding: 20px 0;
}

.header-top .header-dropdown-items li > a{
    display: block;
    color: #a0a0a0;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    background-color: #c4ccd0;
    border-radius: 17px;
    position: relative;
    height: 34px;
    width: 34px;
}

.header-top .header-dropdown-items li:hover > a{
    color: #263238;
}

.header-top .header-dropdown-items li + li{
    margin-left: 15px;
}

.header-top .header-dropdown-items li a > sup{
    position: absolute;
    color: #fff;
    font-family: "OpenSans", sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    border-radius: 17px;
    background-color: red;
    height: 18px;
    width: 18px;
    top: -5px;
    right: -5px;
}

.header-top .header-dropdown-items .dropdown-notifications sup{
    background-color: #fcb322;
}

.header-top .header-dropdown-items .dropdown-messages sup{
    background-color: #ef6c00;
}

.header-top .header-dropdown-items .dropdown-cart sup{
    background-color: #95c85a;
}

.header-top .profile{
    margin-left: 20px;
    padding: 20px 0;
}

.header-top .profile .profile-img{
    background-color: #57c1c2;
    border-radius: 34px;
    height: 34px;
    width: 34px;
}

.header-top .profile .profile-info{
    margin-left: 15px;
    font-size: 14px;
}

.header-top .profile .profile-info span{
    display: block;
}

.header-top .profile .profile-info .profile-name{
    color: #000;
    font-weight: 500;
    margin-bottom: 7px;
}

.header-top .profile .profile-info .profile-balance{
    color: #8bc34a;
    font-weight: 700;
}

.header-top .profile .profile-icon{
    margin-left: 13px;
    font-size: 16px;
}

.header-top .profile .dropdown-menu li:hover{
    color: #8bc34a;
}

.header-bottom{
    background-color: #263238;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    
}
.header-bottom a{
    padding: 25px 0;
}

.header-bottom a + a{
    margin-left: 40px;
}
/* ========header end========== */


/* ========== dropdown ========== */

.dropdown-container{
    position: relative;
}

.dropdown-container .dropdown-menu{
    position: absolute;
    right: 0;
    display: none;
    z-index: 99;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.35);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.35);
    min-width: 270px;
}

.dropdown-container:hover .dropdown-menu{
    display: block;
}

.header-top .dropdown-menu{
    top: 74px;
}

.dropdown-notifications .dropdown-menu .notifications-item{
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
}

.dropdown-notifications .dropdown-menu .notifications-item:last-child{
    border-bottom: none;
}

.dropdown-notifications .dropdown-menu .notifications-item .notifications-text{
    margin-left: 20px;
}

.dropdown-notifications .dropdown-menu .notifications-item .theme-notification{
    font-size: 12px;
    color: #84b743;
}

.dropdown-notifications .dropdown-menu .notifications-item .date-notification{
    font-size: 10px;
}

.dropdown-notifications .dropdown-menu .notifications-item .notifications-icon{
    font-size: 16px;
}

.dropdown-notifications .dropdown-menu .notifications-item .notifications-icon:hover{
    color: #ef6c00;
}

.dropdown-messages .dropdown-menu .messages-item{
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
}

.dropdown-messages .dropdown-menu .messages-item:last-child{
    border-bottom: none;
}

.dropdown-messages .dropdown-menu .messages-item .messages-text{
    margin-left: 20px;
}

.dropdown-messages .dropdown-menu .messages-item .friend-name{
    font-weight: 700;
    font-size: 12px;
    color: #263238;
}

.dropdown-messages .dropdown-menu .messages-item .theme-message{
    font-size: 11px;
    color: #84b743;
}

.dropdown-messages .dropdown-menu .messages-item .date-message{
    font-size: 10px;
}

.dropdown-messages .dropdown-menu .messages-item .messages-icon{
    font-size: 16px;
}

.dropdown-messages .dropdown-menu .messages-item .messages-icon:hover{
    color: #ef6c00;
}

.dropdown-cart .dropdown-menu .cart-item{
    padding: 20px 25px 25px 25px;
    border-bottom: 1px solid #d3d3d3;
}

.dropdown-cart .cart-item .cart-item-text{
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #263238;
}

.dropdown-cart .cart-item .cart-item-text a + span{
    font-size: 12px;
    color: #84b743;
    font-weight: 400;
}

.dropdown-cart .cart-total{
    padding: 20px 17px 15px 17px;
}

.dropdown-cart .cart-total .cart-total-text{
    margin-bottom: 20px;
    color: #263238;
    font-size: 15px;
    font-weight: 700;
}

.profile .dropdown-menu li{
    margin-left: 20px;
    margin-top: 25px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.profile .dropdown-menu li:last-child{
    margin-bottom: 30px;
}

.profile .dropdown-menu li .fa{
    font-size: 14px;
    color: #8bc34a
}

.profile .dropdown-menu li a{
    font-size: 12px;
    margin-left: 10px;
}


.product-page .product-page-list{
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.product-page .product-page-item > a{
    padding: 25px 30px;
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.product-page .product-page-item a > i{
    font-size: 18px;
}

.product-page .product-page-item a:hover{
    color: #8bc34a;
}

.product-page .product-page-item + .product-page-item{
    border-left: 1px solid #d3d3d3;
}

.product-page .product-page-item:last-child{
    margin-right: 30px;
}

.product-page .product-page-item:last-child a{
    padding: 0;
}

.product-page .product-page-item:last-child a >i{
    font-size: 16px;
}

.product-page .product-page-item:last-child a + a{
    margin-left: 12px;
}

.product-page .product-page-item + .product-page-item:last-child{
    border-left: none;
}

.product-page .product-page-item span + i{
    margin-left: 25px;
}

.product-page .product-page-item i + span{
    margin-left: 12px;
    margin-right: -15px;
}

.product-page .product-page-item i + i{
    margin-left: 12px;
}
.product-page .dropdown-menu{
    left: 0;
}

.product-page .dropdown-menu li{
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 15px;
    color: #90a4ae;
}

.product-page .dropdown-menu li a{
    margin-left: 10px;
    color: #000;
}

.product-page .dropdown-menu li:last-child{
    margin-bottom: 30px;
}

.product-page .dropdown-menu li .fa{
    font-size: 14px;
    color: #8bc34a
}



/* ========== dropdown end ========== */