/* == RESET START == */
button, input, textarea, select, label{
    border: none;
    font: inherit;
    font-size: 15px;
}
input:focus,
button:focus,
textarea:focus,
select:focus{
    outline: none;
} 
button:hover,
label:hover{
    cursor: pointer;
}
/* == RESET END == */

/* == DEFAULT CLASSES START == */
.text-bold{
    font-weight: 700 !important;
}
.text-uppercase{
    text-transform: uppercase !important;
}
.text-center{
    text-align: center !important;
}
/* == DEFAULT CLASSES END == */

/* == DEFAULT COMPONENTS START == */
/* == FORM START == */
.form{
    position: relative;
}
.form.bg-form{
    border: 1px solid #d7d7d7;
}
.form .form-row{
    margin-top: 22px;
}
.form .form-row .form-item:focus{
    background-color: #f6f3d2;
}
.form .form-row span sup{
    color: #8bc34a;
    font-size: 24px;
}
.form-item{
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    height: 40px;
    -ms-flex-item-align: center;
    align-self: center;
}
.form-item.form-item-wide{
    height: 42px;
}
.form .form-row .choose label{
    font-size: 12px;
    padding: 7px;
    background-color: #fff;
    border: 1px solid #dedede;
    margin-left: 8px;
 }
.form .form-row .choose span{
    font-size: 12px;
    margin-left: 15px;
}
.form .form-row .btn{
    font-size: 15px;
}
/* == FORM END == */
/* == DEFAULT COMPONENTS END == */

/*== CUSTOM STYLE START == */
/* ==styles for visualisation== */
.container.welcome03{
    padding: 10px 15px;
    background-color: #acaaac;
    height: 200px;
}
.newsletter03{
    margin-top: 10px;
}
/* ==styles for visualisation end== */

/* == SEARCH-FORM START == */
.search-form{
    color: #90a4ae;
    position: relative;
    max-width: 670px;
    margin: 0 auto;
}
.search-form [type="text"]{
    width: 100%;
    max-width: 670px;
    height: 58px; 
    background-color: #fff;
    padding: 22px 27px;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 10px rgba(100, 100, 100, .75);
    box-shadow: 0 1px 10px rgba(100, 100, 100, .75);
}
.search-form [type="text"]:focus{
    -webkit-box-shadow: 0 1px 10px rgba(124, 178, 64, .75);
    box-shadow: 0 1px 10px rgba(124, 178, 64, .75)
}
.search-form .btn.btn-white{
    position: absolute;
    z-index: 89;
    top: 4px;
    right: 5px;
    padding: 15px;
    color: #78909c;
} 
.search-form .fa{
    font-size: 20px;
}
/* == SEARCH-FORM END == */

/* == NEWS-FORM START == */
.news-form input{
    color: #697378;
    padding: 11px 44px 11px 15px;
    background-color: #2f3c43;
    width: 100%;
    -webkit-box-shadow: -2px -2px 0 rgba(0, 0, 0, .9);
    box-shadow: -2px -2px 0 rgba(0, 0, 0, .9)
}
.news-form input:focus{
    background-color: #364e5b; 
    color: #fff;
}
.news-form .btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 39px;
    z-index: 89;
}
/* == NEWS-FORM END == */

/* == PERSONAL-INFO START == */
.personal-info .form-row{
    padding: 0 38px;
}
.personal-info .form-row:first-child{
    margin-top: 33px;
}
.personal-info .form-row:last-child{
    margin-top: 25px;
    margin-bottom: 80px;
}
.personal-info .form-row .form-item,
.personal-info .form-row div:last-child{
    width: 60%;
}
.personal-info .form-row .form-item{
    padding: 13px 16px;
}
.personal-info .form-row select{
    padding-left: 16px;
}
.personal-info .form-row .btn{
    padding: 16px 24px;
}
.personal-info .form-row .btn.btn-white{
    position: absolute;
    font-size: 15px;
    padding: 0;
    top: 230px;
    right: 50px;
}
/* == PERSONAL-INFO END == */

/* == UPLOAD-ITEM START == */
.upload-item .form-row{
    padding: 0 45px;
}
.upload-item .form-row:first-child{
    margin-top: 43px;
}
.upload-item .form-row:nth-child(10){
    padding-top: 43px;
    border-top: 1px solid #d7d7d7;
}
.upload-item .form-row > *:nth-child(2){
    width: 900px;
}
.upload-item .form-row:nth-child(3) span{
    -ms-flex-item-align: start;
    align-self: start;
}
.upload-item .form-row input,
.upload-item .form-row textarea{
    padding: 12px 18px;
}
.upload-item .form-row .choose input{
    display: none;
}
.upload-item .form-row textarea{
    height: 148px;
}
.upload-item .form-row:last-child{
    margin-top: 42px;
    margin-bottom: 67px;
}
.upload-item .form-row .btn{
    padding: 16px 37px;
}
.upload-item .title{
    padding: 0 45px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 70px;
}
/* == UPLOAD-ITEM END == */

/* == DROP-MESSAGE START == */
.drop-message28 .title{
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    color: #333333;
}
.drop-message.form .form-row input,
.drop-message.form .form-row textarea{
    border: none;
    background-color: #f1f4f5;
    margin-right: 43px;
    padding-left: 17px;
    width: 350px;
    height: 42px;
    color: #7a7a7a;
}
.drop-message.form .form-row input:focus,
.drop-message.form .form-row textarea:focus{
    outline: 1px solid #d7d7d7;
}
.drop-message .form-row > * + *:not(:nth-child(2)){
    margin-top: 22px;
}
.drop-message.form .form-row textarea{
    width: 100%;
    margin-top: 28px;
    height: 192px;
    padding: 17px;
    font-size: 15px;
}
.drop-message.form .form-row .btn{
    text-transform: uppercase;
    padding: 19px 25px;
}

/* == DROP-MESSAGE END == */

/* == LOGIN START == */
.login30.container{
    height: 485px;
    width: 730px;
    background-color: #8bc34a;
    color: #fff;
    text-align: right;
}
.login30 > .btn{
    font-size: 18px;
    margin: 21px 28px;
    padding: 0;
}
.login30 .title{
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 40px;
}
.login30 .form{
    margin: 0 165px;
}
.login30 .form .form-item{
    background-color: #76ae36;
    width: 100%;
    padding-left: 35px;
    color: #fff;
    border: none;
}
.login30 .form input:focus{
    background-color: #6ba42a;
}
.login30 .form input:first-child{
    margin-bottom: 8px;
}
.login30 .form input:nth-child(4){
    height: 50px;
    width: 62%;
    margin-top: 20px;
    padding-left: 65px;
}
.login30 .form .fa{
    position: absolute;
    left: 17px;
    top: 13px;
}
.login30 .form .fa.fa-lock{
    top: 64px;
}
.login30 .form .fa.fa-pencil-square-o{
    left: 180px;
    top: 130px;
}
.login30 .form .btn.btn-white{
    -webkit-box-shadow:  0 2px 2px rgba(118, 174, 54, .75);
    box-shadow:  0 2px 2px rgba(118, 174, 54, .75);
    margin-top: 20px;
    margin-bottom: 27px;
    padding: 17px 44px;
}
.login30 .form a{
    font-size: 18px;
}
.login30 .form a:hover{
    color: #f8cfcf;
}

/* == LOGIN END == */
/*== CUSTOM STYLE END == */