/*PRODUCT SLIDER*/

.product-slider {
    margin: 0 -15px;
    text-align: center;
}

.product-slider .slick-list {
    margin-bottom: 65px;
}

.product-slider .slick-slide {
    padding: 0 15px;
    outline: none;
}

.product-slider .slick-dots {
    padding: 0 15px;
}

.product-slider .slick-dots li {
    display: inline-block;
    vertical-align: middle;
}

.product-slider .slick-dots li:not(:first-child) {
    margin-left: 7px;
}

.product-slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e8e8e8;
    border: none;
    outline: none;
    padding: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.product-slider .slick-dots button:hover,
.product-slider .slick-dots .slick-active button {
    background-color: #8bc34a;
}

/*PRODUCT SLIDER END*/