/* ==== tags ==== */


.tag-list {
    margin-bottom: 60px;
}

.tag-list .tag-list-item {
    display: inline-block;
    vertical-align: top;
    padding: 7px 22px;
    background-color: #fff;
    font-size: 14px;
    color: #263238;
    font-weight: 500;
    -webkit-transition: all .3s;
    transition: all .3s;
    min-width: 70px;
    margin-bottom: 5px;
}

.tag-list a + a {
    margin-left: 2px;
}

.tag-list .tag-list-item.active,
.tag-list .tag-list-item:hover {
    color: #fff;
    background-color: #e74c3c;
    -webkit-box-shadow: 2px 0 5px rgba(202, 215, 228, 0.75);
    box-shadow: 2px 0 5px rgba(202, 215, 228, 0.75);
}

/* ==== tags end==== */