/* ==== ASIDE START ==== */
.aside-section{
    border: 1px solid #dedede;
    padding: 23px 27px 30px;
}
.aside-section .title{
    padding-bottom: 15px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 25px;  
}
.aside-section+.aside-section {
    margin-top: 30px;
}
.aside-section .categories-content li {
    font-weight: 400;
}
.aside-section .categories-content li+li {
    margin-top: 30px;
}
.aside-section .categories-content li span {
    color: #90a4ae;
    margin-left: auto;
}
.aside-section .categories-content li a::before{
    font-family: FontAwesome ;
    content: "\f105";
    color: #8bc34a;
    font-size: 14px;
    margin-right: 15px;
}
/* ==== ASIDE END ==== */

/*==== BREADCRUMBS START ==== */
.breadcrumbs {
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #263238;
    padding: 25px 0;
}
.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
}
.breadcrumbs li:not(:last-child):after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-color: #8bc34a;
    width: 5px;
    height: 2px;
    margin: 0 10px;
}
.breadcrumbs li a {
    transition: all .3s;
}
.breadcrumbs li:hover a {
    color: #8bc34a;
}
/*==== BREADCRUMBS END ==== */

/* ==== BTN START ==== */
.btn{
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
	line-height: 1;
    padding: 17px 24px;
    color: #f4f6f5;
    text-transform: capitalize;
    background-color: #8bc34a;
}
.btn:hover{
	background-color: #6da231;
}
.btn.btn-radius{
    border: 1px solid #e74c3c;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    padding: 9px 17px;
}

/* == BTN COLORS START ==*/
.btn.btn-darkblue{
    background-color: #546e7a;
}
.btn.btn-darkblue:hover{
	background-color: #455a64
}
.btn.btn-red{
    background-color: #e74c3c;
}
.btn.btn-red:hover{
	background-color: #d13c2d;
}
.btn.btn-blue{
    background-color: #42a5f5;
}
.btn.btn-blue:hover{
	background-color: #3f8ccb;
}
.btn.btn-white{
    background-color: #fff;
    color: #000000;
    padding: 20px 44px;
}
.btn.btn-white:hover{
	background-color: #ededed;
}
.btn.btn-transparent{
    background-color: transparent;
    border-color: #fff;
    font-size: 14px;
    padding: 20px 30px;
}
/* == BTN COLORS END == */

/* == BTN SIZE START  == */
.btn.btn-full{
    width: 100%;
    text-align: center;
    padding: 15px;
}
.btn.btn-drop{
    font-size: 14px;
    padding: 10px 20px;
    text-transform: none;
}
.btn.btn-small{
    padding: 9px 14px;
	font-size: 20px; 
}
.btn.btn-xs{
    font-size: 12px;
    line-height: 28px;
    padding: 0 20px;
}
/* == BTN SIZE END == */

/* == BTN SHADOW START == */
.btn.btn-shadow{
    box-shadow: 0 1px 2px rgba(69, 90, 100, .75)
}
.btn.btn-white-shadow{
    box-shadow: 0 1px 3px rgba(204, 216, 228, .75)
}
.btn.btn-green-shadow{
    box-shadow:  0 2px 2px rgba(118, 174, 54, .75)
}
/* == BTN SHADOW END == */  
/* ==== BTN END ==== */

/* ==== CARDS START ==== */
.card-example{
    padding: 50px 0;
}
.card .card-img{
    border: 1px solid #ebeeef;
    border-bottom: none;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
}
.card .card-img img{
    width: 100%;
}
.card .card-description-wrapper{
    border: 1px solid #ebeeef;
    border-top: none;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
}
.card:hover .card-img,
.card:hover .card-description-wrapper{
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
}
.card .card-description .subtitle{
    font-size: 14px;
}
.card .card-description .price{
    font-size: 20px;
}
.card .card-description-wrapper .card-text-info{
    display: none;
}
.card .card-author-info{
    border-top: 1px solid #e7ecf2;
}
.card .card-author-info .card-author img{
    width: 30px;
    height: 30px;
    margin-right: 12px;
}
.card .card-author-info .card-author span{
    font-size: 14px;
    color: #546e7a;
    font-weight: 500;
}
.card .card-author-info .product-rating{
    color: #ffa726;
    margin-right: 8px;
}
.card .card-author-info .product-rating li + li {
    margin-left: 3px;
}
.card .card-author-info .product-download{
    font-size: 12px;
}
.card .card-author-info .product-download::before,
.card .card-author-info .product-download::after{
    color: #b0bec5;
    content: '(';
}
.card .card-author-info .product-download::after{
    content: ')';
}
.card.large-card .card-description{
    padding: 25px 30px 15px;
}
.card.large-card .card-description .title{
    font-size: 18px;
    margin-bottom: 5px;
}
.card.large-card .card-author-info{
    padding: 20px 30px;
}
.card.medium-card .card-description{
    padding: 25px 20px 20px;
}
.card.medium-card .card-description .title{
    font-size: 16px;
    margin-bottom: 10px;
}
.card.medium-card .card-author-info{
    padding: 16px 20px;
}
.card.row-card{
    width: 100%;
    display: flex;
}
.card.row-card .card-img,
.card.row-card .card-description-wrapper{
    border: none;
}
.card.row-card .card-img img{
    width: 240px;
    height: 180px;
}
.card.row-card .card-description-wrapper{
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.card.row-card .card-description{
    padding: 25px 30px 15px;
}
.card.row-card .card-description .price{
    font-size: 30px;
}
.card.row-card .card-author-info{
    padding: 15px 30px;
    margin-top: auto;
}
.card.row-card .card-description-wrapper .card-text-info{
    display: flex;
    margin-top: 20px;
}
/* ==== CARDS END ==== */

/* ==== FORMS START ==== */
.form{
    position: relative;
}
.form.bg-form{
    border: 1px solid #d7d7d7;
}
.form .form-row{
    margin-top: 22px;
}
.form .form-row .form-item:focus{
    background-color: #f6f3d2;
}
.form .form-row span sup{
    color: #8bc34a;
    font-size: 24px;
}
.form-item{
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    height: 40px;
    align-self: center;
}
.form-item.form-item-wide{
    height: 42px;
}
.form .form-row .choose label{
    font-size: 12px;
    padding: 7px;
    background-color: #fff;
    border: 1px solid #dedede;
    margin-left: 8px;
 }
.form .form-row .choose span{
    font-size: 12px;
    margin-left: 15px;
}
.form .form-row .btn{
    font-size: 15px;
}
/* == SEARCH-FORM START == */
.search-form{
    color: #90a4ae;
    position: relative;
    max-width: 670px;
    margin: 0 auto;
}
.search-form [type="text"]{
    width: 100%;
    max-width: 670px;
    height: 58px; 
    background-color: #fff;
    padding: 22px 27px;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(100, 100, 100, .75);
}
.search-form [type="text"]:focus{
    box-shadow: 0 1px 10px rgba(124, 178, 64, .75)
}
.search-form .btn.btn-white{
    position: absolute;
    z-index: 89;
    top: 4px;
    right: 5px;
    padding: 15px;
    color: #78909c;
} 
.search-form .fa{
    font-size: 20px;
}
/* == SEARCH-FORM END == */

/* == PERSONAL-INFO START == */
.personal-info .form-row{
    padding: 0 38px;
}
.personal-info .form-row:first-child{
    margin-top: 33px;
}
.personal-info .form-row:last-child{
    margin-top: 25px;
    margin-bottom: 80px;
}
.personal-info .form-row .form-item,
.personal-info .form-row div:last-child{
    width: 60%;
}
.personal-info .form-row .form-item{
    padding: 13px 16px;
}
.personal-info .form-row select{
    padding-left: 16px;
}
.personal-info .form-row .btn{
    padding: 16px 24px;
}
.personal-info .form-row .btn.btn-white{
    position: absolute;
    font-size: 15px;
    padding: 0;
    top: 230px;
    right: 50px;
}
/* == PERSONAL-INFO END == */

/* == UPLOAD-ITEM START == */
.upload-item .form-row{
    padding: 0 45px;
}
.upload-item .form-row:first-child{
    margin-top: 43px;
}
.upload-item .form-row:nth-child(10){
    padding-top: 43px;
    border-top: 1px solid #d7d7d7;
}
.upload-item .form-row > *:nth-child(2){
    width: 900px;
}
.upload-item .form-row:nth-child(3) span{
    align-self: start;
}
.upload-item .form-row input,
.upload-item .form-row textarea{
    padding: 12px 18px;
}
.upload-item .form-row .choose input{
    display: none;
}
.upload-item .form-row textarea{
    height: 148px;
}
.upload-item .form-row:last-child{
    margin-top: 42px;
    margin-bottom: 67px;
}
.upload-item .form-row .btn{
    padding: 16px 37px;
}
.upload-item .title{
    padding: 0 45px;
    margin-top: 70px;
}
/* == UPLOAD-ITEM END == */

/* == DROP-MESSAGE START == */
.drop-message28 .title{
    color: #333333;
}
.drop-message.form .form-row .form-item{
    border: none;
    background-color: #f1f4f5;
    margin-right: 43px;
    padding-left: 17px;
    width: 350px;
    color: #7a7a7a;
}
.drop-message.form .form-row .form-item:focus{
    outline: 1px solid #d7d7d7;
}
.drop-message .form-row > * + *:not(:nth-child(2)){
    margin-top: 22px;
}
.drop-message.form .form-row textarea.form-item{
    width: 100%;
    margin-top: 28px;
    height: 192px;
    padding: 17px;
    font-size: 15px;
}
.drop-message.form .form-row .btn{
   padding: 19px 25px;
}

/* == DROP-MESSAGE END == */
/* ==== FORMS END ==== */

/* ==== PAGINATION START ==== */
.pagination > li >a{
    font-size: 16px;
    padding: 11px 17px;
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75)
}
.pagination > li:not(:first-child) > a{
    margin-left: 8px;
}
.pagination > li.active > a,
.pagination > li >a:hover{
    background-color: #e74c3c;
    color: #fdf6f5;
}
/* ==== PAGINATION END ==== */

/* ==== SLIDER START ==== */
.product-slider {
    margin: 0 -15px;
    text-align: center;
}
.product-slider .slick-list {
    margin-bottom: 65px;
}
.product-slider .slick-slide {
    padding: 0 15px;
    outline: none;
}
.product-slider .slick-dots {
    padding: 0 15px;
}
.product-slider .slick-dots li {
    display: inline-block;
    vertical-align: middle;
}
.product-slider .slick-dots li:not(:first-child) {
    margin-left: 7px;
}
.product-slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e8e8e8;
    border: none;
    outline: none;
    padding: 0;
    transition: all .3s;
}
.product-slider .slick-dots button:hover,
.product-slider .slick-dots .slick-active button {
    background-color: #8bc34a;
}
/* ==== SLIDER END ==== */

/* ==== TAGS START ==== */
.tag-list {
    margin-bottom: 60px;
}
.tag-list .tag-list-item {
    display: inline-block;
    vertical-align: top;
    padding: 7px 22px;
    font-size: 14px;
    transition: all .3s;
    min-width: 70px;
    margin-bottom: 5px;
}
.tag-list a + a {
    margin-left: 2px;
}
.tag-list .tag-list-item.active,
.tag-list .tag-list-item:hover {
    color: #fff;
    background-color: #e74c3c;
    box-shadow: 2px 0 5px rgba(202, 215, 228, 0.75);
}
/* ==== TAGS END ==== */

/* ===== FOOTER START ===== */
.footer {
    background-color: #263238;
    color: #b7c3c8;
    padding: 110px 0 0;
}
.footer h4 {
    margin-bottom: 25px;
}
.footer h5 {
    margin-bottom: 20px;
}
.footer h4:after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #8bc34a;
    margin-top: 25px;
}
.footer .fa {
    font-size: 18px;
}
.footer a {
    transition: all .3s;
}
.footer a:hover {
    color: #8bc34a;
}
.footer .footer-content {
    margin-bottom: 30px;
}
.footer address {
    font-style: normal;
    font: 400 14px/1.714 'Lato', sans-serif;
    color: #fff;
}
.footer .contact-address .fa {
    float: left;
    margin-right: 20px;
    line-height: 1.4;
}
.footer .contact-address span {
    display: block;
    overflow: hidden;
}
.footer .contact-address + .contact-address {
    margin-top: 15px;
}
.footer .footer-nav a {
    display: block;
}
.footer .footer-nav li a:not(last-of-type) {
    margin-bottom: 12px;
}
.footer .footer-nav .fa {
    margin-right: 15px;
}
.footer .social-nav {
    margin-bottom: 35px;
}
.footer .social-nav li {
    display: inline-block;
    vertical-align: top;
}
.footer .social-nav li a {
    display: block;
    border-radius: 2px;
    transition: all .3s;
}
.footer .social-nav li + li {
    margin-left: 3px;
}
.footer .social-nav li:hover a {
    opacity: .7;
}
.sup-footer {
    padding: 20px 0 30px;
    border-top: 1px solid #424d53;
    margin-top: 80px;
    color: #919699;
}
.footer .title.title-small{
    font-weight: normal;
}
/* == NEWS-FORM START == */
.news-form .form-item{
    color: #697378;
    padding: 11px 44px 11px 15px;
    background-color: #2f3c43;
    width: 100%;
    box-shadow: -2px -2px 0 rgba(0, 0, 0, .9);
    border: none;
}
.news-form input:focus{
    background-color: #364e5b; 
    color: #fff;
}
.news-form .btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    z-index: 89;
}
/* == NEWS-FORM END == */
/* ===== FOOTER END ===== */

/* ===== CUSTOM STYLES START ===== */
/* == BTN START == */
.price-range04,
.post-grid04,
.product-price09,
.About-Author10{
    width: 210px;
}
.header03 .btn.btn-green{
    border-color: #8bc34a;
}
.header03 .btn + .btn{
    margin-left: 7px;
}
.lets-check03{
    background-color: #f4f6f5;
    text-align: center;
    padding: 10px;
}
.lets-check03 .btn:first-child{
    margin-right: 12px;
}
.become-author03{
    background-color: #8bc34a;
    padding: 10px;
}
.price-range04,
.post-grid04,
.product-price09{
    width: 210px;
}
.drop08 .btn + .btn{
    margin-left: 5px;
}
.product-price09 .btn + .btn{
    margin-top: 7px;
}
.gtbuilder09 .btn + .btn{
    margin-left: 20px;
}
.About-Author10 .btn + .btn{
    margin-top: 18px;
}
.Personal-Information16 .btn{
    font-size: 15px;
    padding: 16px 24px;    
}
.not-found29{
    background-color: #8bc34a;
    padding: 10px;
    text-align: center;
}
.submit30{
    background-color: #8bc34a;
    padding: 10px;
}
/* == BTN END == */

/* == SEARCH FORM START == */
.search-section{
    padding-top: 60px;
    padding-bottom: 70px;
}
.search-section .title{
    margin-bottom: 24px;
}
/* == SEARCH FORM END == */
/* ===== CUSTOM STYLES END ===== */

