/* костыль старт */

.breadcrumbs {
    margin-top: 50px; /* - добавил */
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #263238;
    /* padding: 25px 0; */
    padding: 0; /* - добавил */
}

.breadcrumbs li a.active{
    color: #263238;
}

/* костыль энд */
