/* == BACKGROUND START == */
.bg-default {
    background-color: #f4f6f5;
}
.bg-white{
    background-color: #ffffff;
}
.bg-search{
    background: url("../../../app/img/bg-search.jpg") no-repeat center/cover;
    height: 100%;
}
.bg-green {
    background-color: #8bc34a;
}

.bg-dark {
    background-color: #263238;
}
/* == BACKGROUND END == */